Repository angular-eslint/angular-eslint, pull requests merged in 2021-04, with the labels that each got.

#405 feat(template-parser): support eslint-disable comments in HTML templates
  README.md
  package.json
  packages/template-parser/jest.config.js
  packages/template-parser/package.json
  packages/template-parser/src/index.ts
  packages/template-parser/tests/index.test.ts
  packages/template-parser/tsconfig.json
  yarn.lock
Labels: enhancement, package: template-parser

#391 refactor(eslint-plugin): component-max-inline-declarations no longer …
  packages/eslint-plugin/src/rules/component-max-inline-declarations.ts
  packages/eslint-plugin/tests/rules/component-max-inline-declarations.test.ts
  packages/schematics/src/migrations/update-3-0-0/update-3-0-0.ts
  packages/schematics/tests/migrations/update-3-0-0/update-3-0-0.test.ts
Labels: BREAKING CHANGE

#388 feat: v3.0.0
  lerna.json
  package.json
  packages/builder/package.json
  packages/builder/src/index.ts
  packages/builder/src/utils/eslint-utils.ts
  packages/builder/tests/index.test.ts
  packages/builder/tests/utils/eslint-utils.test.ts
  packages/eslint-plugin-template/package.json
  packages/eslint-plugin/package.json
  packages/eslint-plugin/src/configs/recommended--extra.json
  packages/eslint-plugin/src/configs/recommended.json
  packages/eslint-plugin/src/rules/component-max-inline-declarations.ts
  packages/eslint-plugin/tests/rules/component-max-inline-declarations.test.ts
  packages/integration-tests/fixtures/v1123-multi-project-manual-config/package.json
  packages/integration-tests/package.json
  packages/integration-tests/tests/__snapshots__/v11-new-workspace.test.ts.snap
  packages/integration-tests/tests/__snapshots__/v1123-multi-project-manual-config.test.ts.snap
  packages/integration-tests/tests/__snapshots__/v1123-multi-project-yarn-auto-convert.test.ts.snap
  packages/integration-tests/tests/__snapshots__/v1123-single-project-yarn-auto-convert.test.ts.snap
  packages/integration-tests/tests/__snapshots__/v1123-strict-multi-project-auto-convert.test.ts.snap
  packages/schematics/package.json
  packages/schematics/src/convert-tslint-to-eslint/convert-to-eslint-config.ts
  packages/schematics/src/convert-tslint-to-eslint/index.ts
  packages/schematics/src/migrations.json
  packages/schematics/src/migrations/update-2-0-0/update-2-0-0.ts
  packages/schematics/src/migrations/update-3-0-0/update-3-0-0.ts
  packages/schematics/src/ng-add/index.ts
  packages/schematics/src/workspace-post/index.ts
  packages/schematics/src/workspace/index.ts
  packages/schematics/tests/migrations/update-2-0-0/update-2-0-0.test.ts
  packages/schematics/tests/migrations/update-3-0-0/update-3-0-0.test.ts
  packages/template-parser/package.json
  packages/utils/package.json
  tools/scripts/generate-configs.ts
  yarn.lock
Labels: BREAKING CHANGE

#419 feat(schematics): options for convert-tslint-to-eslint
  README.md
  lerna.json
  packages/builder/package.json
  packages/eslint-plugin-template/package.json
  packages/eslint-plugin/package.json
  packages/integration-tests/integration-tests-setup.ts
  packages/integration-tests/package.json
  packages/schematics/package.json
  packages/schematics/src/collection.json
  packages/schematics/src/convert-tslint-to-eslint/index.ts
  packages/schematics/src/convert-tslint-to-eslint/schema.d.ts
  packages/schematics/src/convert-tslint-to-eslint/schema.json
  packages/schematics/src/convert-tslint-to-eslint/utils.ts
  packages/schematics/src/migrations.json
  packages/schematics/src/migrations/update-4-0-0/update-4-0-0.ts
  packages/schematics/src/ng-add/index.ts
  packages/schematics/src/utils.ts
  packages/schematics/src/workspace-post/index.ts
  packages/schematics/src/workspace-post/schema.json
  packages/schematics/src/workspace/index.ts
  packages/schematics/src/workspace/schema.json
  packages/schematics/tests/convert-tslint-to-eslint/index.test.ts
  packages/schematics/tests/convert-tslint-to-eslint/utils.test.ts
  packages/schematics/tests/migrations/update-4-0-0/update-4-0-0.test.ts
  packages/template-parser/package.json
  packages/utils/package.json
Labels: BREAKING CHANGE, package: schematics
